﻿@model VdsMobile.Controllers.Team

@if (Model == null)
{
    <h2>Please enter team name.</h2>
}
else
{
    
    if (Model.Riders.Count > 0)
    {
        <h2>@Model.Name (@Model.Points)</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Rider</th>
                <th>Price</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Riders.Count; i++)
            {
                var item = Model.Riders[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Score @*(@item.Score)*@</td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th>Total</th>
                <th>@Model.Points</th>
            </tr>
        </tbody>
    </table>
    }
    else
    {
        <h2>@Model.Name</h2>
    }
}
